<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  <title>Spectrum</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="css/flexslider.css" />
  <link rel="stylesheet" href="css/sweet-alert.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56792701-1', 'auto');
    ga('send', 'pageview');

  </script>

  <div class="wrapper">
    <div class="header">
      <div class="shell">
        <a href="/" class="logo"></a>

        <a href="/" class="expand"></a>

        <nav class="nav">
          <ul>
            <li id='home'>
              <a href="/">Home</a>
            </li>
            
            <li id='residential'>
              <a href="/residential">residential</a>
            </li>
            
            <li id='commercial'>
              <a href="/commercial">commercial</a>
            </li>
          </ul>
        </nav><!-- /.nav -->
      </div><!-- /.shell -->
    </div><!-- /.header -->

    <%= yield %>

    <div class="footer">
      <div class="shell">
        <div class="footer-inner clearfix">
          <div class="footer-content">
            <p>Spectrum Installation, started by Mark and Lavonne Dimitroff, opened its Florida operation in 2005.  We came to Florida to fulfill a Lowes Home Improvement agreement to install flooring and wall tile for Lowe’s customers </p>

            <p>Since that time, we are proud to have watched Spectrum grow to a mid-size company.  As an installation company we understand that to a large extent we are only as good as the partners we deploy to complete an installation. In that regard, our crews install exclusively for our company, a significant number of who have been with us since the company’s beginning. </p>
          </div><!-- /.footer-content -->

          <div class="footer-aside">
            <ul class="list-contacts">
              <li>
                <h4>Our Address</h4>

                <p>3315 63rd Ave East</p>
                
                <p>Bradenton FL   34203</p>
              </li>
              
              <li>
                <h4>Phone</h4>

                <p>
                  <span>Office:</span>

                  941 756-0808
                </p>
                
                <p>
                  <span>Fax:</span>

                  941 756-0822
                </p>
              </li>
            </ul><!-- /.list-contacts -->
          </div><!-- /.footer-aside -->

          <div class="map">
            <div id="map">
              
            </div><!-- /#map -->
          </div><!-- /.map -->
        </div><!-- /.footer-inner -->

        <div class="footer-bar clearfix">
          <nav class="nav-footer">
            <ul>
              <li>
                <a href="/home">Home</a>
              </li>
              
              <li>
                <a href="/residential">Residential</a>
              </li>
              
              <li>
                <a href="/commercial">Commercial</a>
              </li>
            </ul>
          </nav><!-- /.nav-footer -->

          <div class="cpopyright">
            &copy; Spectrum Installations. All rights reserved. Privacy Policy
          </div><!-- /.cpopyright -->
        </div><!-- /.footer-bar -->
      </div><!-- /.shell -->
    </div><!-- /.footer -->
  </div><!-- /.wrapper -->

  <script src="js/sweet-alert.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maps.google.com/maps/api/js?sensor=true"></script>
  <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
  <script src="js/jquery.fullscreener.min.js" type="text/javascript"></script>
  <script src="js/functions.js" type="text/javascript"></script>
</body>
</html>
