		<div class="container">
			<div class="shell">
				<section class="section">					
					<div class="section-head">
						<h2>Commercial</h2>
				
						<div class="socials">
							<ul>
								<li>
									<a href="#" class="link-facebook">
										facebook
										<i class="ico-facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#" class="link-twitter">
										twitter
										<i class="ico-twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#" class="link-linkedin">
										linkedin
										<i class="ico-linkedin"></i>
									</a>
								</li>
								
								<li>
									<a href="#" class="link-rss">
										rss
										<i class="ico-rss"></i>
									</a>
								</li>
							</ul>
						</div><!-- /.socials -->
					</div><!-- /.section-head -->
				
					<div class="section-image">
						<img src="css/images/img.png" alt="" />
					</div><!-- /.section-image -->
				
					<div class="section-body">
						<p>Our success as an installation company is only possible with the support of great project partners. We take pride in our ability to draw from a group of subcontractors who have worked with Spectrum from its’ beginning.  Our crews are highly-skilled and qualified subcontractors that share our commitment to quality and craftsmanship. Working together, we deliver superior installations that are a win for our clients.  </p>
					</div><!-- /.section-body -->
				</section><!-- /.section -->
				
				<section class="section">
					<div class="section-head">
						<h2><strong>How</strong> We Do It</h2>
					</div><!-- /.section-head -->
					
					<div class="section-body">	
						<p>
							Spectrum has developed and deploys the following: <br />

							<strong>Five Step Process - to deliver a successful turnkey project:</strong>
						</p>
				
						<ul class="steps">
							<li class="step">
								<div class="step-head">
									<h3>Step <strong>1</strong></h3>
								</div><!-- /.step-head -->
								
								<div class="step-body">
									<h4>Complete Plan Takeoff</h4>
									
									<ul>
										<li>Quantity takeoff</li>
										
										<li>Labor requirements</li>
									</ul>
								</div><!-- /.step-body -->
							</li><!-- /.step -->
							
							<li class="step">
								<div class="step-head">
									<h3>Step <strong>2</strong></h3>
								</div><!-- /.step-head -->
								
								<div class="step-body">
									<h4>Evaluate the Scope of Work </h4>
									
									<ul>
										<li>Identify potential Constructability issues</li>
										
										<li>Develop job milestones</li>
									</ul>
								</div><!-- /.step-body -->
							</li><!-- /.step -->
							
							<li class="step">
								<div class="step-head">
									<h3>Step <strong>3</strong></h3>
								</div><!-- /.step-head -->
								
								<div class="step-body">
									<h4>Develop Installation Sequence <br /> Determined by :</h4>
									
									<ul>
										<li>Quantity</li>
										
										<li>Lead time</li>
										
										<li>Production rates</li>
									</ul>
								</div><!-- /.step-body -->
							</li><!-- /.step -->
							
							<li class="step">
								<div class="step-head">
									<h3>Step <strong>4</strong></h3>
								</div><!-- /.step-head -->
								
								<div class="step-body">
									<h4>Pre-Installation Planning</h4>
									
									<ul>
										<li>Complete submittal package</li>
										
										<li>Develop material tracking logs</li>
										
										<li>Create labor schedule</li>
									</ul>
								</div><!-- /.step-body -->
							</li><!-- /.step -->
							
							<li class="step">
								<div class="step-head">
									<h3>Step <strong>5</strong></h3>
								</div><!-- /.step-head -->
								
								<div class="step-body">
									<h4>Plan Implementation</h4>
									
									<ul>
										<li>Field support &amp; supervision</li>
										
										<li>Field and office collaboration</li>
										
										<li>On site coordination with other trades</li>
									</ul>
								</div><!-- /.step-body -->
							</li><!-- /.step -->
						</ul><!-- /.steps -->
					</div><!-- /.section-body -->
				</section><!-- /.section -->
				
				<section class="section">
					<div class="section-head">
						<h2>Commercial <strong>Projects</strong></h2>
					</div><!-- /.section-head -->
					
					<div class="section-body">
						<p>Spectrum’s sweet spot for commercial project are those ranging from 1000 sqf to 20,000 sqf. We have a proven system to ensure these size projects are deliver on time and within budget.</p>
				
						<h4>RECENTLY COMPLETED COMMERCIAL PROJECTS:</h4>
				
						<div class="table">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>Commercial Project </th>
									
									<th>Carpet</th>
									
									<th>Tile</th>
									
									<th>VCT / Vinyl</th>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Venice Condominium  Project</p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Christian Living Center – Sebring – </p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Reality Office Complex  S Sarasota</p>
									</td>
									
									<td>
										<h5>carpet</h5>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>

										<strong class="ico-x">X</strong>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Tampa Bank and Trust</p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Saratoga Apt Lobby (workout center)</p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>Tile</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Mermaid Restaurant Bradenton</p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>LBK Art Museum</p>
									</td>
									
									<td>
										<h5>carpet</h5>
									</td>
									
									<td>
										<h5>Tile</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Holiday Inn Express</p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
				
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Bradenton Warehouse Offices</p>
									</td>
									
									<td>
										<h5>carpet</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Life Church</p>
									</td>
									
									<td>
										<h5>carpet</h5>
									</td>
									
									<td>
										<h5>Tile</h5>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>

										<strong class="ico-x">X</strong>
									</td>
								</tr>
								
								<tr>
									<td>
										<h5>Commercial Project </h5>

										<p>Tampa Chinese Restaurant</p>
									</td>
									
									<td>
										<h5>carpet</h5>
									</td>
									
									<td>
										<h5>Tile</h5>

										<strong class="ico-x">X</strong>
									</td>
									
									<td>
										<h5>VCT / Vinyl</h5>
									</td>
								</tr>
							</table>
						</div><!-- /.table -->
					</div><!-- /.section-body -->
				</section><!-- /.section -->

				<div class="callout">
					<p>
						<a href="#" class="btn open-modal">Click Here</a>
					</p>
			
					<p>
						To send us message or call to discuss your project
					</p>
				</div><!-- /.callout -->

				<div class='modal'>
					<div class="close-modal">
						<a href="#"><img src="css/images/close_icon.png" height='32' width='32' alt="Close"></a>
					</div>
					<div class='form form-contact'>
						<form action="/commercial" method="post">
						<input name="form-type" type="hidden" value="contact-us" />
						<div class="form-body clearfix">
							<div class="form-col form-col-1of2">
								<div class="form-row">
									<div class="form-col form-col-1of2">
										<div class="form-controls">
											<input required type="text" class="field" placeholder="First Name" name="first_name" id="field-first-name" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
									
									<div class="form-col form-col-1of2">
										
										<div class="form-controls">
											<input required type="text" class="field" placeholder="Last Name" name="last_name" id="field-last-name" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
								</div><!-- /.form-row -->

								<div class="form-row">
									<div class="form-col form-col-1of2">
										<div class="form-controls">
											<input required type="email" class="field" placeholder="Email" name="email" id="field-email" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
									
									<div class="form-col form-col-1of2">
										<div class="form-controls">
											<input type="text" class="field" placeholder="Phone (optional)" name="phone" id="field-phone" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
								</div><!-- /.form-row -->
							</div><!-- /.form-col form-col-1of2 -->
							
							<div class="form-col form-col-1of2">
								<div class="form-controls">
									<textarea required cols="30" rows="10" class="textarea" placeholder="Message" name="message" id="field-message"></textarea>
								</div><!-- /.form-controls -->
							</div><!-- /.form-col form-col-1of2 -->
						</div><!-- /.form-body -->
						
						<div class="form-actions">
							<input type="submit" class="form-btn btn-secondary" value="Submit" />
						</div><!-- /.form-actions -->
					</form>
					</div><!-- form-contact -->
				</div><!-- /.modal -->
				
				<section class="section">
					<div class="section-head">
						<h2>Join Our Team</h2>
					</div><!-- /.section-head -->
					
					<div class="section-body">
						<p>If you are interested in learning more about the potential of becoming a Spectrum subcontractor please send us a message or call.  Thanks, we will immediately get back to you to fill you in on current projects and the possibility of working together.</p>
				
						<div class="form">
							<form action="inc/form-handler.php" method="post" class="js_handler">
								<input name="form-type" type="hidden" value="join-our-team" />
								<div class="form-body">
									<div class="form-row">
										<div class="form-col form-col-1of2">
											<label for="field-name" class="form-label hidden">Name</label>
											
											<div class="form-controls">
												<input type="text" class="field required" placeholder="Name" name="field-name" id="field-name" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
										
										<div class="form-col form-col-1of2">											
											<label for="field-email" class="form-label hidden">Email</label>
											
											<div class="form-controls">
												<input type="email" class="field required" placeholder="Email" name="field-email" id="field-email" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
									</div><!-- /.form-row -->
									
									<div class="form-row">
										<div class="form-col form-col-1of2">
											<label for="field-company" class="form-label hidden">Company</label>
											
											<div class="form-controls">
												<input type="text" class="field required" placeholder="Company" name="field-company" id="field-company" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
										
										<div class="form-col form-col-1of2">
											<label for="field-phone" class="form-label hidden">Phone #:</label>
											
											<div class="form-controls">
												<input type="text" class="field required" placeholder="Phone #:" name="field-phone" id="field-phone" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
									</div><!-- /.form-row -->
								</div><!-- /.form-body -->
								
								<div class="form-actions">
									<input type="submit" class="form-btn btn-secondary" value="Submit" />
								</div><!-- /.form-actions -->
							</form>
						</div><!-- /.form -->
					</div><!-- /.section-body -->
				</section><!-- /.section -->
				
				<div class="contacts">
					<h4>OR</h4>
				
					<p>
						Call our Bradenton FL office at:
				
						<i class="ico-phone"></i>
				
						<strong>941 756-0808</strong>
					</p>
				</div><!-- /.contacts -->
			</div><!-- /.shell -->
		</div><!-- /.container -->
