		<div class="intro">
			<div class="background">
				<img src="css/images/main-banner.jpg" alt="" />
			</div><!-- /.background -->

			<div class="shell">
				<div class="intro-head">
					<h1>Florida&rsquo;s #1 Flooring Installer</h1>
				</div><!-- /.intro-head -->

				<div class="intro-body">
					<ul class="options clearfix">
						<li class="option">
							<p>Put <strong>Spectrum&rsquo;s</strong> wealth of experience to work on your home flooring project</p>

							<h2>residential</h2>

								<a href="#" class="btn-secondary" id='contact'>Contact Us</a>
						</li><!-- /.option -->
						
						<li class="option">
							<p>Spectrum&rsquo;s team would welcome a chance to bid on an upcoming project</p>

							<h2>Commercial</h2>

								<a href="/commercial" class="btn-secondary">Get Started</a>
						</li><!-- /.option -->
					</ul><!-- /.options -->
				</div><!-- /.intro-body -->
			</div><!-- /.shell -->
		</div><!-- /.intro -->

		<section class="section-features">
			<div class="shell">			
				<ul class="features">
					<li class="feature">
						<h3>96%</h3>

						<p>Customer Satisfaction</p>

						<div class="overlay">
							<p>Combined professionalism &amp; craftsmanship ratings as a lead installer for one of the two big box home improvement companies.</p>
						</div><!-- /.overlay -->
					</li><!-- /.feature -->
					
					<li class="feature">
						<h3>
							<img src="css/images/CFI-Logo.png" alt="" />
						</h3>

						<p>Certified Instalers</p>

						<div class="overlay">
							<p>Each crew lead by a CFI institute qualified installer.</p>
						</div><!-- /.overlay -->
					</li><!-- /.feature -->
					
					<li class="feature">
						<h3>1000</h3>

						<p>Installed Projects</p>

						<div class="overlay">
							<p>Approximately 1000 flooring installation successfully completed each year.</p>
						</div><!-- /.overlay -->
					</li><!-- /.feature -->
				</ul><!-- /.features -->
			</div><!-- /.shell -->
		</section><!-- /.section-features -->

		<section class="section-contacts">
			<div class="background">
				<img src="css/images/form-bg.jpg" alt="" />
			</div><!-- /.background -->

			<div class="shell">
				<div class="section-head">
					<h2><strong>Contact Us</strong> Today! </h2>

					<p>Send Us a <strong>Message</strong></p>
				</div><!-- /.section-head -->

				<div class="section-body">
					<div class="form form-contact">
						<form action="inc/form-handler.php" method="post" class="js_handler">
							<input name="form-type" type="hidden" value="contact-us" />
							<div class="form-body clearfix">
								<div class="form-col form-col-1of2">
									<div class="form-row">
										<div class="form-col form-col-1of2">
											<label for="field-first-name" class="form-label hidden">First Name</label>
											
											<div class="form-controls">
												<input type="text" class="field required" placeholder="First Name" name="field-first-name" id="field-first-name" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
										
										<div class="form-col form-col-1of2">
											<label for="field-last-name" class="form-label hidden">Last Name</label>
											
											<div class="form-controls">
												<input type="text" class="field required" placeholder="Last Name" name="field-last-name" id="field-last-name" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-col form-col-1of2">
											<label for="field-email" class="form-label hidden">Email</label>
											
											<div class="form-controls">
												<input type="email" class="field required" placeholder="Email" name="field-email" id="field-email" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
										
										<div class="form-col form-col-1of2">
											<label for="field-phone" class="form-label hidden">Phone</label>
											
											<div class="form-controls">
												<input type="text" class="field required" placeholder="Phone (optional)" name="field-phone" id="field-phone" />
											</div><!-- /.form-controls -->
										</div><!-- /.form-col form-col-1of2 -->
									</div><!-- /.form-row -->
								</div><!-- /.form-col form-col-1of2 -->
								
								<div class="form-col form-col-1of2">
									<label for="field-message" class="form-label hidden">Message</label>
									
									<div class="form-controls">
										<textarea cols="30" rows="10" class="textarea required" placeholder="Message" name="field-message" id="field-message"></textarea>
									</div><!-- /.form-controls -->
								</div><!-- /.form-col form-col-1of2 -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" class="form-btn btn-secondary" value="Submit" />
							</div><!-- /.form-actions -->
						</form>
					</div><!-- /.form form-contact -->

					<ul class="options-secondary clearfix">
						<li class="option-secondary">
							<h3>Residential</h3>

							<p>Schedule an appointment to measure  your project.</p>

							<p>
								<a href="#" class="btn-secondary">
									Schedule

									<i class="ico-calendar"></i>
								</a>
							</p>
						</li><!-- /.option-secondary -->
						
						<li class="option-secondary">
							<h3>Commercial</h3>

							<p>Click here to link your project to <br />IsqFt or call.</p>

							<p>
								<a href="http://www.isqft.com/start/" target='_blank' class="btn-secondary">IsqFt.com</a>

								<span>
									<i class="ico-mobile"></i>

									941 756-0808
								</span>
							</p>
						</li><!-- /.option-secondary -->
					</ul><!-- /.options-secondary -->
				</div><!-- /.section-body -->
			</div><!-- /.shell -->
		</section><!-- /.section-contacts -->

		<div class="shell">
			<section class="section section-secondary">
				<div class="section-head">
					<h2>Our <strong>Services</strong></h2>
				</div><!-- /.section-head -->

				<div class="section-body">
					<p>Spectrum Installations is a full service flooring and wall tile installation company.We specialize in the installation of </p>

					<ul class="list-services">
						<span>-</span> Carpet
						<span>-</span> Laminate/Hardwood 
						<span>-</span> Tile/Stone 
						<span>-</span> VCT/Sheet Vinyl 
						<span>-</span>
					</ul><!-- /.list-services -->

					<div class="slider-services">
						<div class="slider-clip">
							<ul class="slides">
								<li class="slide">
									<div class="slide-image">
										<img src="css/images/carpet.png" alt="" />
									</div><!-- /.slide-image -->
								</li><!-- /.slide -->

								<li class="slide">
									<div class="slide-image">
										<img src="css/images/laminate.png" alt="" />
									</div><!-- /.slide-image -->
								</li><!-- /.slide -->

								<li class="slide">
									<div class="slide-image">
										<img src="css/images/tile.png" alt="" />
									</div><!-- /.slide-image -->
								</li><!-- /.slide -->

								<li class="slide">
									<div class="slide-image">
										<img src="css/images/vinyl.png" alt="" />
									</div><!-- /.slide-image -->
								</li><!-- /.slide -->
							</ul><!-- /.slides -->
						</div><!-- /.slider-clip -->
					</div><!-- /.slider -->
				</div><!-- /.section-body -->
			</section><!-- /.section-secondary -->

			<section class="section-testimonials">
				<div class="section-head">
					<h2><strong>Customer</strong> Testimonials</h2>
				</div><!-- /.section-head -->
				
				<div class="section-body">
					<ul class="testimonials">
						<li class="testimonial">
							<h3>Laminate Installation – J Johnson</h3>
				
							<blockquote>
								<p>&ldquo; I am writing to thank you for sending Rodney and Jerry to work on our laminate flooring installation. What a nice couple of guys, they were professional, clearly know what they were doing and worked steadily throughout each day. We are 100% satisfied with our installation. &ldquo;</p>
							</blockquote>
						</li><!-- /.testimonial -->
						
						<li class="testimonial">
							<h3>Carpet Installation - J. Pettie</h3>
				
							<blockquote>
								<p>&ldquo; Your crew just completed our carpet installation and did an outstanding job. It was a pleasure having them in our home&hellip;. All three guys were professional and easy to work with. We would be happy to recommend this crew and your company to future clients. &ldquo;</p>
							</blockquote>
						</li><!-- /.testimonial -->
						
						<li class="testimonial">
							<h3>Tile Backsplash – S. Carol</h3>
				
							<blockquote>
								<p>&ldquo; Please pass along my thanks to Scott for outstanding job of installing my backsplash. It looks great and he completed the entire project in one day&hellip; we love it&hellip;.. </p>
							</blockquote>
						</li><!-- /.testimonial -->
					</ul><!-- /.testimonials -->
				</div><!-- /.section-body -->				
			</section><!-- /.section-testimonials -->

			<div class="callout-secondary">
				<p>To see more testimonials</p>
			
				<a href="#" class="btn btn-tertiary">Click Here</a>
			</div><!-- /.callout-secondary -->

			<div class="section-partners">
				<ul class="list-partners">
					<li>
						<img src="css/images/logo-1.png" alt="" />
					</li>
					
					<li>
						<img src="css/images/logo-2.png" alt="" />
					</li>
					
					<li>
						<img src="css/images/logo-3.png" alt="" />
					</li>
					
					<li>
						<img src="css/images/logo-4.png" alt="" />
					</li>
					
					<li>
						<img src="css/images/logo-5.png" alt="" />
					</li>
					
					<li>
						<img src="css/images/logo-6.png" alt="" />
					</li>
				</ul><!-- /.list-partners -->
			</div><!-- /.section-partners -->
		</div><!-- /.shell -->
