		<div class="container">
			<div class="shell">
				<section class="section">
					<div class="section-head">
						<h2>Residential</h2>
				
						<!-- <div class="socials">
							<ul>
								<li>
									<a href="#" class="link-facebook">
										facebook
										<i class="ico-facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#" class="link-twitter">
										twitter
										<i class="ico-twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#" class="link-linkedin">
										linkedin
										<i class="ico-linkedin"></i>
									</a>
								</li>
								
								<li>
									<a href="#" class="link-rss">
										rss
										<i class="ico-rss"></i>
									</a>
								</li>
							</ul>
						</div><!-- /.socials -->
					</div><!-- /.section-head -->
				
					<div class="section-image">
						<img src="css/images/img2.jpg" alt="" />
					</div><!-- /.section-image -->
				
					<div class="section-body">
						<p>Spectrum Installation is a mid-size company located in Bradenton, Florida.  We install over 1,000 Residential and Commercial projects each year.  All projects, large or small, are completed by background checked crews who specialize in the type of flooring being installed.</p>
				
						<p>Since Spectrum's inception, our mission has been to meet the following objectives on each installation we undertake:</p>
				
						<ul>
							<li>Guarantee (SEE BELOW) your installation will be done correctly and in a timely fashion.</li>
							
							<li>Continuous coordination between our office and the customer, along with great care from our installers, allows Spectrum to minimize the inconveniences / disruptions that may typically be associated with a flooring upgrade.</li>
							
							<li>The project (large or small) will be completed by only the best technical installers who hold exceptional reviews from past and repeat customers.</li>
						</ul>
					</div><!-- /.section-body -->
				</section><!-- /.section -->
				
				<section class="section">
					<div class="section-head">
						<h2>Guarantee</h2>
					</div><!-- /.section-head -->
					
					<div class="section-body">
						<div class="badge clearfix">
							<img src="css/images/guarantee-badge.png" alt="" />
				
							<div class="badge-content">
								<p>Material guarantees range from 15 to 25 years – Guarantee is based on products used. </p>
				
								<h4>SPECTRUM’S LABOR FOR ALL INSTALLALTIONS IS GUARANETEED FOR ONE YEAR.</h4>
							</div><!-- /.badge-content -->
						</div><!-- /.badge -->
					</div><!-- /.section-body -->
				</section><!-- /.section -->
				
				<section class="section">
					<div class="section-head">
						<h2>
							<strong>Three Step</strong> Management System

							<small>(Utilized to help meet the above objectives)  </small>
						</h2>
					</div><!-- /.section-head -->
					
					<div class="section-body">
						<div class="steps-secondary">
							<div class="steps-secondary-body clearfix">
								<div class="steps-secondary-content">
									<ol>
										<li>
											<strong>Step 1</strong>
				
											<p>Discuss project - schedule and complete measurment</p>
										</li>
										
										<li>
											<strong>Step 2</strong>
				
											<p>Develop labor and materials cost and submit estimate</p>
										</li>
										
										<li>
											<strong>Step 3</strong>
				
											<p>Schedule and implement installation with field support program</p>
										</li>
									</ol>
								</div><!-- /.steps-secondary-content -->
				
								<div class="steps-secondary-image">
									<img src="css/images/projects-img.png" alt="" />
								</div><!-- /.steps-secondary-image -->
							</div><!-- /.steps-secondary-body -->
				
							<p>In addition to <strong>Spectrum&rsquo;s</strong> 96% craftsmanship and professionalism rating, we are an <strong>&ldquo;A&rdquo;</strong> rated <strong>Angies List</strong> contractor.  Please click here if you would like to see our feedback or give us a review.</p>
						</div><!-- /.steps-secondary -->
				
						<div class="section-actions">
							<div class="section-actions-image">
								<img src="css/images/angies-list logo.png" alt="" />
							</div><!-- /.section-actions-image -->
				
							<div class="btns">
								<a href="http://www.angieslist.com/companylist/us/fl/bradenton/spectrum-installations-reviews-8293399.htm" target="_blank" class="btn-secondary">See feedback</a>
								
								<a href="http://www.angieslist.com/AngiesList/Review/8293399" target="_blank" class="btn-secondary">Leave a review</a>
							</div><!-- /.btns -->
						</div><!-- /.section-actions -->
					</div><!-- /.section-body -->
				</section><!-- /.section -->
				
				<div class="callout">
					<p>
						<a href="#" class="btn open-modal">Click Here</a>
					</p>
			
					<p>
						To put Spectrum’s wealth of experience to work on your home flooring project
					</p>
				</div><!-- /.callout -->

				<div class='modal'>
					<h1>Send us a message</h1>

					<div class="close-modal">
						<a href="#"><img src="css/images/close_icon.png" height='32' width='32' alt="Close"></a>
					</div>

					<div class='form form-contact' id='residential-form' data-sweet-alert=<%= params[:sweetalert] %>>
						<form action="/residential" method="post">
						<input name="form-type" type="hidden" value="contact-us" />
						<div class="form-body clearfix">
							<div class="form-col form-col-1of2">
								<div class="form-row">
									<div class="form-col form-col-1of2">
										<div class="form-controls">
											<input required type="text" class="field" placeholder="First Name" name="first_name" id="field-first-name" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
									
									<div class="form-col form-col-1of2">
										
										<div class="form-controls">
											<input required type="text" class="field" placeholder="Last Name" name="last_name" id="field-last-name" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
								</div><!-- /.form-row -->

								<div class="form-row">
									<div class="form-col form-col-1of2">
										<div class="form-controls">
											<input required type="email" class="field" placeholder="Email" name="email" id="field-email" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
									
									<div class="form-col form-col-1of2">
										<div class="form-controls">
											<input type="text" class="field" placeholder="Phone (optional)" name="phone" id="field-phone" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-col form-col-1of2 -->
								</div><!-- /.form-row -->
							</div><!-- /.form-col form-col-1of2 -->
							
							<div class="form-col form-col-1of2">
								<div class="form-controls">
									<textarea required cols="30" rows="10" class="textarea" placeholder="Message" name="message" id="field-message"></textarea>
								</div><!-- /.form-controls -->
							</div><!-- /.form-col form-col-1of2 -->
						</div><!-- /.form-body -->
						
						<div class="form-actions">
							<input type="submit" class="form-btn btn-secondary" value="Submit" />
						</div><!-- /.form-actions -->
					</form>
					</div><!-- form-contact -->
				</div><!-- /.modal -->				
			</div><!-- /.shell -->
		</div><!-- /.container -->
